@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC0C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4W61C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4QK1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4e6yC4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyC4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bCyC4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4ZmyC4E.ttf) format('truetype');
}
:root {
  --main-color: #DEFF7F;
  --main-dark: #272A1D;
  --success: #84F2C4;
  --error: #FF9898;
  --black: #000000;
  --white: #ffffff;
  --gray-1000: #171C22;
  --gray-900: #21262D;
  --gray-800: #2F343A;
  --gray-700: #474C51;
  --gray-600: #5F6469;
  --gray-500: #777C81;
  --gray-400: #909398;
  --gray-300: #A8ABB0;
  --gray-200: #C0C3C8;
  --gray-100: #D8DBDF;
  --gray-50: #F0F3F7;
  --icon-font: 'Material Symbols Outlined';
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.icon {
  font-family: var(--icon-font);
}
.trash:before {
  content: '\e872';
  color: inherit;
}
.download:before {
  content: '\f090';
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-1000);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.streakify {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}
.streakify .wrapper {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.canvas-wrapper {
  width: auto;
  height: auto;
  position: relative;
}
.canvas-wrapper .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 11px;
  gap: 10px;
  position: absolute;
  width: auto;
  height: auto;
  left: 12px;
  top: 12px;
  background: rgba(0, 0, 0, 0.58);
  border-radius: 8px;
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  z-index: 999;
  user-select: none;
  pointer-events: none;
}
.canvas-wrapper .canvas {
  width: auto;
  height: auto;
  background-color: var(--gray-900);
  border-radius: 15px;
  overflow: hidden;
  line-height: 0;
  position: relative;
}
.canvas-wrapper .canvas .line {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--white);
  mix-blend-mode: difference;
  z-index: 99;
}
.canvas-wrapper .canvas .line .cursor {
  width: 50px;
  height: 1px;
  background-color: transparent;
  border-bottom: 1px dashed var(--white);
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
}
.canvas-wrapper .original {
  cursor: none;
}
.canvas-wrapper .placeholder {
  width: 800px;
  height: 475px;
  background-color: var(--gray-900);
  animation: placeholder 0.5s alternate infinite;
}
@keyframes placeholder {
  from {
    background-color: var(--gray-900);
  }
  to {
    background-color: var(--gray-800);
  }
}
.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: auto;
  background: var(--gray-800);
  border-radius: 15px;
  color: var(--white);
  font-size: 28px;
}
.toolbar .seperator {
  width: 1px;
  height: auto;
  background-color: var(--gray-700);
  align-self: stretch;
}
.toolbar .tool {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.toolbar .tool:hover {
  background-color: var(--gray-700);
}
.toolbar .icon {
  font-variation-settings: 'wght' 200;
}
.toolbar .trash:before {
  color: var(--error);
}
.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 55px;
  padding: 50px 20px;
  box-sizing: border-box;
}
.home .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 41px;
  width: 100%;
  max-width: 877px;
  height: auto;
  flex: none;
  flex-grow: 0;
}
.home .hero .logo-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 100%;
  height: auto;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.home .hero .logo-and-text .title {
  width: 100%;
  height: auto;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  text-align: center;
  color: var(--white);
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.home .demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 100%;
  height: auto;
}
.file-uploader {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  gap: 30px;
  width: 100%;
  max-width: 466px;
  height: 223px;
  background: var(--gray-900);
  border: 2px dashed var(--gray-500);
  border-radius: 20px;
  flex: none;
  flex-grow: 0;
  cursor: pointer;
}
.file-uploader:hover {
  border: 2px dashed var(--gray-400);
}
.file-uploader .uploader-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 3px;
  width: 100%;
  height: auto;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.file-uploader .uploader-text .title {
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.file-uploader .uploader-text .supporting-text {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--gray-400);
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.file-uploader .dropzone-text {
  display: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: var(--white);
}
.file-uploader .supported-files {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--gray-600);
}
.on-drag {
  background-color: var(--main-dark);
  border: 2px dashed var(--main-color);
}
.on-error {
  border: 2px dashed var(--error);
}
.on-error .supported-files {
  color: var(--error);
}
.file {
  display: none;
}
@media screen and (max-width: 768px) {
  .home .hero .logo-and-text .title {
    font-size: 40px;
  }
  .home .demo {
    flex-direction: column;
  }
}
